@model AssetsViewModel

<div class="modal fade" id="editAsset" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="addAssetLabel" class="modal-title">Asset Ekle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="Edit">
                    <div class="form-group">
                        <input type="hidden" asp-for="Id" />
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-fanger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand"></label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-fanger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Count"></label>
                        <input asp-for="Count" class="form-control" />
                        <span asp-validation-for="Count" class="text-fanger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Active"></label>
                        <input asp-for="Active" class="form-control" />
                        <span asp-validation-for="Active" class="text-fanger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" data-save="modal">Güncelle</button>
            </div>
        </div>
    </div>
</div>
