
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact Adress with Tag Helpers</h1>
<p>If you have a any question, please contact</p>
<email adress="kapdanwork@gmail.com" content="Contact Wiht Me :)"></email>

